OSB_Vinicius/ModeloCanonico/MC/Pessoa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://pucminas.br/MC/SOA/Vinicius" 
	xmlns:tns="http://pucminas.br/MC/SOA/Vinicius" 
	elementFormDefault="qualified">
	
	<complexType name="Pessoa">
		<sequence>
			<element name="id" type="integer"></element>
			<element name="nome" type="string"></element>
			<element name="dataNascimento" type="date"></element>
			<element name="cpf" type="string"></element>
			<element name="telefone" type="string"></element>
			<element name="celular" type="string"></element>
		</sequence>
	</complexType>
	
</schema>