OSB_Amaral/ModeloCanonico/MC/LotePessoa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://pucminas.br/MC/SOA/Amaral" 
	xmlns:tns="http://pucminas.br/MC/SOA/Amaral" 
	xmlns:pes="http://pucminas.br/MC/SOA/Amaral"
	elementFormDefault="qualified">
	
	<include schemaLocation="Pessoa.xsd" />
	
	<complexType name="LotePessoa">
		<sequence>
			<element name="id" type="integer"></element>
			<element name="pessoa" type="pes:Pessoa" minOccurs="1" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>
</schema>